html, body {
	height: 100%;
}
.imageItem {
	display: inline-block;
	margin-right: 10px;
}
.content {
	width: 100%;
	position: relative;
	padding-bottom: 90px;
}
.basePage {
	height: 100%;
	overflow-x: hidden;
}
.page {
	position: relative;
	min-height: 100%;
	left: 0;
	transition: left ease-out .5s;
}
.sideNavPage {
	position: absolute;
	left: -100px;
	top: 0;
	width: 100px;
	height: 100%;
	transition: left ease-out .5s;
}
.pageMove {
	left: 100px;
}
.sideNavPageMove {
	left: 0;
}

.header {
	height: 90px;
	max-width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;
	.logo {
		height: 90px;
		background: url("http://placehold.it/150x80") no-repeat left center;
		background-size: 150px 80px;
	}
	.searchArea, .accountArea {
		margin-top: 20px;
		
	}
	.accountArea {
		text-align: right;	
		button {
			margin-left: 10px;
		}
	}
	
	
}
.navSlider {
	max-width: 1170px;
	margin: 0 auto;
}
.categoryBar {
	margin-top: 20px;
	border-bottom: 1px solid lightgray;
	.categoryHeader {
		font-size: 16px;
		font-weight: bold;
	}
	.categoryItem {
		margin: 0 10px;
	}
}
.itemList {
	margin-top: 10px;
}
.footer {
	bottom: 0;
	width: 100%;
	position: absolute;
	height: 90px;
	margin: 0 auto;
	background-color: darkgray;
	span {
		margin: 0 10px;
		color: white;
	}
	.container {
		text-align: center;
		padding-top: 20px;
	}
}
.itemDetail {
	.itemImage {
		max-width: 100%;
	}
	.itemSections {
		margin-top: 10px;
	}
}
.phoneNav {
	display: table;
	position: relative;
	text-align: center;
	width: 100%;
	vertical-align: middle;
	.leftButton, .titleBar, .rightButton {
		display: table-cell;
		height: 45px;
		vertical-align: middle;
	}
	.leftButton {
		width: 20%;	
		text-align: left;
		padding-left: 15px;
	}
	.titleBar {
		width: 60%;
		text-align: center;
	}
	.rightButton {
		width: 20%;
	}
}